
/* Container */
@media screen and (min-width: 1400px) {
   .container {
      max-width: 1320px;
   } 
}

@media screen and (max-width: 1400px) {
    .container {
       max-width: 1140px;
    } 
}

@media screen and (max-width: 1200px) {
    .container {
       max-width: 960px;
    } 
}

@media screen and (max-width: 992px) {
    .container {
       max-width: 720px;
    }  }

 @media screen and (max-width: 768px) {
    .container {
       max-width: 540px;
    } 
}

 @media screen and (max-width: 576px) {
    .container {
      padding-inline: 15px;
    } 
}

/* Navbar */
@media screen and (max-width: 1200px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        transform: translateX(100%);
        position: absolute;
        flex-direction: column;
        width: 350px;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #fff;
        padding-inline: 10px;
        gap: 0;
    }

    nav ul li {
        padding-block: 20px;
    }

    
    nav ul li.close-icon {
    display: block;
    }

    nav div.mode {
       margin-left: auto;
       margin-right: 20px;
    }

}



/* Header */
@media screen and (min-width: 1200px) {
    header {
       min-height: 100vh;
    } 
}

@media screen and (max-width: 992px) {
    header .container {
       justify-content: center;
       flex-direction: column-reverse;
    } 
    header .container > * {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header .container .header-content {
        margin-top: 30px;
    }
    header .btn-main {
        --border-radius: 100vh;
    }
}

@media screen and (max-width: 400px) {
header .buttons-group {
    flex-direction: column;
}
}


/* Chefs */

@media screen and (max-width: 992px) {
    .chefs-cards .card {
        width: calc(calc(100% - var(--gab) ) / 2);
    }
}

@media screen and (max-width: 768px) {
    .chefs-cards .card {
        width: 100%;
    }
}

/* Gallery */

@media screen and (max-width: 1400px) {
    .gallery-images {
        height: 1025px;
    }
}


@media screen and (max-width: 1200px) {
    .gallery-images {
        height: 860px;
    }
}

@media screen and (max-width: 992px) {
    .gallery-images {
        height: 1400px ;
    }

    .gallery-images picture {
        width: calc(calc(100% - var(--gap)) / 2);
    }

     .pizza {
        order: 1;
    }

     .burger {
        order: 2;
    }
     .fried {
        order: 6;
    }

     .omelette {
        order: 4;
    }
     .kofta {
        order: 7;
    }

     .pizza-slices {
        order: 3;
    }

     .steak {
        order: 5;
    }
}

@media screen and (max-width: 768px) {
    .gallery-images {
        height: auto;
    }
    .gallery-images picture {
        width: 100%;
    }
}

/* Contact */
@media screen and (max-width: 992px) {
    .contact .input-group input {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact .contact-means > div {
        width: 100%;
    }
}