/* Global Section */
:root{
    /* Colors */
    --color-default: #212529;
    --primary-hue: 0;
    --primary-saturation: 84%;
    --primary-lightness: 44%;
    --color-primary: hsl(
        var(--primary-hue),
        var(--primary-saturation),
        var(--primary-lightness)
    );
    --color-secondary: #37373f;
    --color-tertiary: #7f7f90;
    --light-hue: 0;
    --light-saturation: 0%;
    --light-lightness: 100%;
    --color-light: hsl(
        var(--light-hue),
        var(--light-saturation),
        var(--light-lightness)
    );

    --color-light-grey: #eee;
    

    /* Fonts */
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;

    /* Animation Options */
    --animation-duration: 400ms; ;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
   font-family: var(--font-default);
   color: var(--color-default) ;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-secondary);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

span {
    display: inline-block;
}

img{
    display: block;
}
.clr {
    clear: both;
}

/* Reapeated Classes */

.section-bg {
    background-color: var(--color-light-grey);
}

.btn {
    --background-color: transparent;
    --color: var(--color-light);
    --padding: .3125rem 0.75rem;
    --border-width: 2px;
    --border-color: transparent;
    --border-radius:0px;
    --hover-bg-color: transparent;
    --hover-color: transparent;
    --font-size: 1rem;

    padding: var(--padding);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    color: var(--color);
    font-size: var(--font-size);
    cursor: pointer;
    transition: background-color var(--animation-duration), color var(--animation-duration);
}

.btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}

.btn-main {
   --background-color: var(--color-primary);
   --border-radius: 0px 100vh 100vh 100vh;
   --padding: .5rem 1.25rem;
   --font-size: 15px; 
   --hover-bg-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + 10% )
   );
   --hover-color: var(--color-light);
}   

.main-title {
    text-align: center;
    margin-bottom: 20px;
}

.main-title h2 {
   font-size: 0.875rem;
   text-transform: uppercase;
   font-weight: 400;
   color: var(--color-tertiary);
}

.main-title p {
    font-family: var(--font-primary);
    font-size: 3.125rem;
}

.main-title span {
   color: var(--color-primary);
}

/* Container */

.container {
    --padding: 2.5rem 0.3125rem;
    --margin-top: 0;
    --margin-bottom: 0;

    width: 100%;
    padding: var(--padding);
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-inline: auto;
}

/* Navbar */

nav {
    background-color: var(--color-light);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

body:has(.nav-links:target) nav {
    height: 100vh;
    background-color: #fff5;
}
nav .container {
    --padding: 1.5625rem 0.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
    transition: transform var(--animation-duration);
}

.nav-links:target {
    transform: translateX(0);
}

nav .logo {
    font-size: 30px;
    font-family: var(--font-default);
    cursor: pointer;
}

nav .logo::after {
    content: ".";
    color: var(--color-primary);

}

nav ul li a {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-tertiary);
    position: relative;
    transition: color var(--animation-duration);
}

nav ul li a:hover {
    color: #000; 
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    left: 0;
    bottom: -3px;
    transition: width var(--animation-duration);
}

nav ul li a:hover::before {
    width: 100%;
}

.mode i {
    font-size: 25px;
    cursor: pointer;
}

.mode .light {
   display: none;
}

body:not(:has(:target)) .home-link,
body:has(.home:target) .home-link,
body:has(.chefs:target) .chefs-link,
body:has(.gallery:target) .gallery-link,
body:has(.contact:target) .contact-link
 {
    color: #000;
}

body:not(:has(:target)) .home-link::before,
body:has(.home:target) .home-link::before,
body:has(.chefs:target) .chefs-link::before,
body:has(.gallery:target) .gallery-link::before,
body:has(.contact:target) .contact-link::before{
    width: 100%;
}

.menu-icon {
    font-size: 26px;
    display: none;
}


nav ul li.close-icon {
    display: none;
    text-align: right;
}

nav ul li.close-icon a {
    font-size: 25px;
}



/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 84px;
}

header .container > * {
    width: 40%;
}

header picture img {
    width: 100%;
    filter: drop-shadow(0px 0px 10px #0006);
}

header picture img:hover {
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
         transform: translate(1px,1px) rotate(0deg); 
    }
    10% {
         transform: translate(-1px,-2px) rotate(-1deg);
    }
    20% {
         transform: translate(-3px,0px) rotate(1deg);
    }
    30% {
        transform: translate(3px,2px) rotate(0deg);
    }
    40% {
        transform: translate(1px,-1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px,2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px,1px) rotate(0deg);
    }
    70% {
        transform: translate(3px,1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px,-1px) rotate(1deg);
    }
    90% {
        transform: translate(1px,2px) rotate(0deg);
    }
    100% {
        transform: translate(1px,-2px) rotate(-1deg);
    }
}

.header-content h2 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 4.0625rem;
}

.header-content p {
  font-size: 1rem;
  color: #4f4f5a;
  margin-block: 1.25rem;
  line-height: 1.6;
}

header .buttons-group {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

header .video-btn {
    display: flex;
    align-items: center;
    transition: color var(--animation-duration);
}

header .video-btn:hover {
    color: var(--color-primary);
}

.video-btn .icon {
    width: 55px;
    height: 55px;
    background-image: linear-gradient(to right, var(--color-primary) 0% 50%, transparent 50% 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-btn .icon::before {
content: "";
position: absolute;
width: 40px;
height: 40px;
background-color: var(--color-light);
border-radius: inherit;
}

.video-btn .icon i {
    z-index: 10;
}

/* Chefs */

.chefs-cards {
    --gab: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gab);
    padding-block: 20px;
}

.chefs-cards .card {
    width: calc(calc(100% - var(--gab) * 2 ) / 3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition:  scale var(--animation-duration);
    position: relative;
    background-color: var(--color-light);
}


.chefs-cards .card:hover {
   scale: 1.07;
}

.chefs-cards .card img {
    width: 100%;
}

.card picture {
    position: relative;
}

.card picture::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 55px;
    background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
}

.card-content {
    padding: 10px 25px 25px;
    text-align: center;
} 


.card-content h3 {
   font-size: 20px;
}

.card-content span {
    color: var(--color-tertiary);
    margin-block: 10px;
    font-size: 14px;
}
.card-content p {
    font-style: italic;
    color: var(--color-tertiary);
    font-size: 14px;
}

.chefs .social-box {
    position: absolute;
    right: -100px;
    top: 40px;
    border-radius: 5px;
    background-color: #ffffff4d;
    padding: 7px 5px;
    text-align: center;
    transition: right calc(var(--animation-duration) /2);
}

.chefs-cards .card:hover .social-box {
    right: 20px;
    transition:  right var(--animation-duration) var(--animation-duration);

}

.chefs .social-box a {
   padding: 10px;
}

.chefs .social-box i {
    font-size: 20px;
    color: #37373f66;
    transition: color var(--animation-duration);
}

.chefs .social-box i:hover {
    color: #37373fe6 ;
}

/* Gallery */
.gallery-images {
    --gap: 20px;
    height: 1155px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--gap);
    
}

.gallery-images picture {
    width: calc(calc(100% - var(--gap) * 2) / 3);
    position: relative;
    overflow: hidden;
    border: 4px solid #fff;
}

.gallery-images picture:hover .layer{
   top: 0;
}

.gallery-images picture:hover img {
     scale: 1.1;
}

.gallery-images img {
    width: 100%;
    transition:  scale var(--animation-duration);
}

.gallery .layer {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000096;
    color: #fff;
    transition: top var(--animation-duration);
}

.gallery .layer p {
   text-align: center;
   margin-top: 10px;
}